
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.contenedor {
  position: relative;
  width: 50%;
  height: 50%;
  background: #eaeef0;
  border-radius: 20px;
  box-shadow: -10px 1-0px 15px rgba(255,255,255,0.9),
  8px 8px 25px rgba(0,0,0,0.5);
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #eaeef0;
}

.effect {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 40px #ffff5b,
  0 0 60px #ffff5b,
  0 0 80px #ffff5b,
  0 0 100px #ffff5b;

}
