<!--
<div class="mb-4">
  <div>
    <mat-form-field>
      <mat-label>Buscar</mat-label>
      <input matInput />
    </mat-form-field>
    <table mat-table [dataSource]="getData" class="mat-elevation-z7">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let animal">{{animal.id}}</td>
      </ng-container>
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let animal">{{animal.nombre}}</td>
      </ng-container>
      <ng-container matColumnDef="foto">
        <th mat-header-cell *matHeaderCellDef>Fotografia</th>
        <td mat-cell *matCellDef="let animal"><img class="img-rounded" src="{{animal.foto}}" alt=""></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="toShow"></tr>
      <tr mat-row *matRowDef="let animal; columns: toShow;"></tr>
    </table>
  </div>
</div>
-->
<div class="contenedor">
  <table class="table table-hover mt-5">
    <thead>
    <tr>
      <th scope="colo">Nombre</th>
      <th scope="col">Fotografia</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
    </thead>
  <tbody>
    <tr *ngFor="let a of animales">
      <td><b>{{a.nombre}}</b></td>
      <td><img class="img-thumbnail" src="{{a.foto}}" alt="{{a.nombre}}"></td>
      <td><a mat-raised-button color="primary" routerLink="/animal/edit/{{a.id}}">Editar</a></td>
      <td><button mat-raised-button color="warn"
        [swal]="{title: 'Confirmación', text: 'Deseas eliminar este dato?',
      showCancelButton: true}"(confirm)="toDelete(a.id)">Eliminar</button></td>
    </tr>
  </tbody>
</table>
<div class="effect">

</div>
</div>

